:root {
  --title-font: "Poppins", sans-serif;
  --text-font: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}
.container-fluid,
.card {
  padding: 0;
}

.landing-zone {
  margin: 20px 0;
  border-bottom: 2px solid black;
}

#page-title,
.card-header,
#cur-city {
  font-family: var(--title-font);
}

#landing-text {
  font-family: var(--text-font);
}

.forecast-card {
  width: 15%;
}
